form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    width:250px;
    height: 25px;
    padding: 20px 10px;
    padding-bottom: 15px;

    margin: 10px;
    
    font-family: 'Righteous', cursive;
    font-size: 15px;
    /* text-align: center; */

    border:none;
    border-bottom: 2px solid #32CD32;

    box-sizing: border-box;

    background-color: transparent;

    transition: background-color .5s;
}
input.medium{
    width:200px
}
input.short{
    width: 125px;
}
input.shorter{
    width: 100px;
}
input:focus{
    outline: none;
    background-color: rgba(50, 205, 50,.1);
}
input:active{
    background-color: transparent;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input.fill{
    text-align: center;
}
button{
    padding: 7px 20px;
    
    margin-top: 20px;

    border: 2px solid transparent;
    background-color: transparent;

    font-family: 'Righteous', cursive;
    font-size: 20px;

    transition: border .5s, background-color .5s,color .5s, transform .2s;
}
button:hover{
    cursor: pointer;

    /* border-bottom: 2px solid #32CD32;
    background-color: rgba(50, 205, 50,.1); */

    color: #32CD32;
}
button:focus{
    outline: none;

    transform: scale(1.15);
}

.checkbox{
    position: relative;
    width: 45px;
    height: 45px;

    margin:10px;
}
.checkbox-background{
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: transparent;

    border: 2px solid lightgray;
    border-radius: 30%;
}
input[type="checkbox"]{
    width:15px;
    margin: 0 10px;
}
input[type="file"]{
    border:none;
    height: auto;
}
select{
    border: none;
    padding: 10px;

    font-family: 'Righteous', cursive;
    font-size: 15px;
}
select:focus{
    outline: none;
}